body {
    background-color:#3DE068;
}

.header {
    background-color: #064717;
    font: normal 18px/1.5 "Times New Roman", "Times", serif;
    color: #3DE068;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.img {
    height: 100px;
    width: 100px;
}

.image {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    height: 190px;
    width: 190px;
}
@media only screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between; 
    }
}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center; 
    }
}

@media only screen and (min-width: 1000px) {
    .one {
        background-color: #19943A;
        margin-right: 15px;
        flex: 0 1 auto;
        }
}

@media only screen and (max-width: 1000px) {
    .one {
        background-color:#19943A;
        margin-right: 0px;
        flex: 1 0 auto;
        }
}

.two {
    background-color:#19943A;
}

@media only screen and (min-width: 1000px) {
    .wrapper .container > div {
        flex: 0 1 auto;
        margin-right: 15px;
        justify-content: center;
        }
}

@media only screen and (max-width: 1000px) {
    .wrapper .container > div {
        flex: 1 0 auto;
        margin-right: 0px;
        justify-content: center;
        }
}