body {
    background: ;
    font: ;
    color: ;
}

.header {
    background: ;
    font: ;
    color: ;
}

.wrapper {

}

.container {
    max-width: ;
}

.one {

}

.two {

}

.ol_titles {
    font: ;
}

.ol_desc {

}

.ul_elem {

}