body {
    background: 
}

.wrapper {
    display:
    flex-direction:
}

.container {
    min-height:
}

.header{
    color:
    display:
    flex-direction:
    flex-wrap:
    justify-content:
    align-items:
    margin:
    margin-bottom:
    padding:
    border-radius:
}

.flex-outer li,
.flex-inner {
  display:
  flex-wrap:
  align-items:
  flex-direction:
}

.flex-outer > li > label,
.flex-outer li p {
  flex:
  max-width: 
  padding:
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex:
}

.flex-inner li {
  width: 
  padding: 
  display: 
  flex-direction:
}

.flex-inner input {
  margin-right: 
}

.flex-inner {
  padding:
  justify-content: 
}

.flex-outer {
  width:
  padding: 
  margin:

h1 {
  margin:
  padding: 
  min-height: 
  background-color: 
  color: 
  display: 
  
  align-items: 
  justify-content: 
  font-weight: 
  font-size: 
  text-transform: 
  flex-wrap: 
  border-radius:
}